





<nav class="navbar navbar-expand-lg" style="background: black">
    <div class="container-fluid">
        <a class="btn btn-dark text-light navbar-brand" href="{{ path("app_etablissements") }}">FC-Tourisme</a>
        <a class=" text-light nav-link active p-2"  aria-current="page" href="{{ path("app_etablissements") }}">Liste des Établissements</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">



            <div class="row d-flex" style="margin-right: 3%">

                {% if not app.user %}
                    <a class="col text-light nav-link active p-2"  aria-current="page" href="{{ path("app_register") }}">S'inscrire</a>
                    <a class="col text-light nav-link active p-2"  aria-current="page"
                       href="{{ path("app_login") }}">Connexion</a>
                {% else %}
                    <p  class="col text-light p-2">logged as <br>
                        <span style="font-style: italic">{{ app.user.pseudo }}</span></p>
                    <a class="col text-light nav-link active p-2 mt-3"  aria-current="page"
                       href="{{ path("app_logout") }}">Déconnexion</a>
                {% endif %}
            </div>

        </div>
    </div>
</nav>